body { 
    margin:0; 
    padding:0;
    background-color: #5D5073;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: #ffffff;
}

/* Directions */
#inputs,
#errors,
#directions {
    position: relative;
    width: 100%;
    max-width: 300px;
    min-width: 200px;
    background-color: #5D5073;
    color: #ffffff;

}

#inputs {
    z-index: 10;
    top: 10px;
    /*right: 10px;*/
}

#directions {
    z-index: 99;
    /*background: rgba(0,0,0,.8);*/
    top: 10px;
    right: 0;
    bottom: 0;
    overflow: auto;

}

#errors {
    z-index: 8;
    opacity: 0;
    padding: 10px;
    border-radius: 0 0 3px 3px;
    background: rgba(0,0,0,.25);
    top: 90px;
    left: 10px;
}

/* Search Filter Box*/
#radius {
    position: relative;
    top: 0;
    /*left: 45px;*/
    background: #fff;
    max-width: 20%;
    /*padding:5px;*/
}


/* Map */
#map {
    position:relative;
    top:0;
    bottom:0;
    width:100%;
    min-height: 800px;
}

/* Bootstrap */
.container-fluid {
  padding-right: 0;
  padding-left: 0;
  min-height: 400px;
}


/* navbar */
.navbar-default {
    background-color: #5D5073;
    border-color: #5D5073;
    font-size: 1.5em;

}
/* Title */
.navbar-default .navbar-brand {
  padding: 15px 15px;
  color: #ffffff;
  font-family: 'Yanone Kaffeesatz', sans-serif; font-weight: 700;
  font-size: 1.5em;
  /*background-color: #5D5073;*/
}

.navbar-default .navbar-header :hover {
  color: #ffffff;
}


/* links */
.navbar-default .navbar-nav > li > a {
    color: rgba(255, 255, 255, 0.8);
}


.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #ffffff;
}


.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #5D5073;
}